<!DOCTYPE html>
<html lang="en" ng-app="skyNautilus">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="node_modules/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="homeCtrl">
    <header></header>
    <div class="backgroundImage"></div>
    <div class="formBackground">
        <form action="" method="post" class="flightSearch searchForm">
            <h1>Search Flights</h1>

            <div class="radioButtons">
                <label>One-way
                    <input id="name" type="radio" name="name" placeholder="Destination" />
                </label>
                <label>Round-trip
                    <input id="name" type="radio" name="name" placeholder="Destination" />
                </label>
            </div>


            <div class="destinationInput">
                <label>
                    <span>Destination:</span>
                    <input id="name" type="destination" name="name" />
                </label>
            </div>


            <div class="dateInput">
                <label>
                    <span>Depart:</span>
                    <datepicker date-year-title="selected title" date-format="MM/dd/yy">
                        <input ng-model="date" type="email" />
                    </datepicker>
                </label>


                <label>
                    <span>Return:</span>
                    <datepicker date-year-title="selected title" date-format="MM/dd/yy">
                        <input ng-model="date" type="email" />
                    </datepicker>
                </label>
            </div>

            <div class="passengerInput">
                <label>
                    <span>Passengers:</span>
                    <select name="selection">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </label>
            </div>

            <div class="submitSearch">
                <label>
                    <input type="button" class="button" value="Search" />
                </label>
            </div>

        </form>
    </div>
    <footer></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="homeCtrl.js"></script>
    <script src="node_modules/angularjs-datepicker/src/js/angular-datepicker.js"></script>
</body>

</html>