body {
	margin: 0;
	padding: 0;
	height: 1000px;
	width: 100%;
}


header {
	height: 70px;
	width: 100%;
}

.backgroundImage {
	height: 570px;
	width: 100%;
	background-image: url("nautilus2.jpg");
	background-size: cover;
	position: relative;

}

.formBackground {
	border-radius: 5px;
	position: absolute;
	top: 155px;
	left: 60px;
	background-color: rgba(255, 255, 255, .3)
	
}


/*######## Flight Search ########*/
.flightSearch {
	z-index: 1;
    max-width: 500px;
    background-color: rgba(255, 255, 255, .3);
    padding: 30px 30px 20px 30px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #000080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.flightSearch h1 {
    font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 0px 10px 40px;
    display: block;
    margin: -30px -30px 10px -30px;
    color: #FFF;
    background: #000080;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
}

.flightSearch h1>span {
    display: block;
    font-size: 11px;
}



.radioButtons label{
    color: #000080;
    font-size: 16px;
}

.flightSearch label {
    display: block;
    margin: 0px 0px 5px;
   
}
.flightSearch label>span {
    float: left;
    margin-top: 10px;
    color: #000080;
    font-size: 16px;
}

.flightSearch input[type="destination"] {
    color: black;
    height: 25px;
    width: 150px;
    border-radius: 5px;
    margin-top: 7px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}

.flightSearch input[type="email"] {
    color: black;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin-top: 7px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}


.flightSearch select {
    color: black;
    height: 25px;
    width: 50px;
    border-radius: 5px;
    margin-top: 7px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.flightSearch .button {
    background-color:#000080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    width: 150px;
}
.flightSearch .button:hover {
    background-color:#0000cc;
}

.submitSearch, .passengerInput {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    margin-top: 20px;
    
}

.dateInput, .submitSearch, .passengerInput, .radioButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    
}

.dateInput label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 10px;
}

.radioButtons, .passengerInput {
    height: 25px;
    
}

.radioButtons {
    margin-top: 10px;
    margin-bottom: 5px; 
}

.destinationInput {
    height: 80px;
}

datepicker {
    
    display: flex;
    justify-content: space-around;
}

datepicker input {
    text-align: center;
}

.destinationInput label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 80px;
    
}

.passengerInput label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    
}